<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "AppKim/padre.html" %}
</head>
<body>
    {% block contenidoQueCambia %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Profesores</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Complete el formulario para ingresar a tu clase.</h2>
                </div>
            </div>
        </div>
    </header>
    
    <div class="container mt-4">
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>
            
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" class="form-control" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>
